@page "/leadsview"
@using DNEBlazor.Data.Models;
@using DNEBlazor.Repository.Data;
@using DNEBlazor.Service;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Identity;
@inject DNEBlazor.Repository.ILead iLead;
@inherits OwningComponentBase<LeadService>

<center>
    <h3>Lead</h3> <br />
</center>

<div class="row">
    <div class="col-4">
        <div class="card text-white mb-3" style="max-width: 18rem;">
            <div class="card-header bg-info">Save Lead</div>
            <div class="card-body">
                @*<form>*@ @*// do not use form tag to stop page reloading//*@
                    <label class="text-secondary">First Name</label>
                    <input type="text" class="form-control" style="width:15rem;" @bind="@lead.FirstName" /> <br />
                    <label class="text-secondary">Last Name</label>
                    <input type="text" class="form-control" style="width:15rem;" @bind="@lead.LastName" /> <br />
                    <label class="text-secondary">Email</label>
                    <input type="text" class="form-control" style="width:15rem;" @bind="@lead.Email" /> <br />
                    <label class="text-secondary">Phone</label>
                    <input type="text" class="form-control" style="width:15rem;" @bind="@lead.Phone" /> <br />
                    <label class="text-secondary">Category</label>
                    <select class="form-select mt-2" style="width:15rem;" @bind="@lead.CategoryId">@foreach(var items in Categories) { <option value="@items.Id">@items.Name</option> } </select>
                    @*<label class="text-secondary">Created By</label>
                    <input type="text" class="form-control" style="width:15rem;" @bind="@lead.CreatedByUserId" /> <br />
                    <label class="text-secondary">Updated By</label>
                    <input type="text" class="form-control" style="width:15rem;" @bind="@lead.UpdatedByUserId" /> <br />*@
                    @*<label class="text-secondary">Date Created</label>
                    <input type="text" class="form-control" style="width:15rem;" @bind="@lead.DateCreated" /> <br />
                    <label class="text-secondary">Date Updated</label>
                    <input type="text" class="form-control" style="width:15rem;" @bind="@lead.DateUpdated" /> <br />*@
                    <a class="form-control btn btn-info text-white mt-2" @onclick="@(m =>Save())" style="width:15rem;"><i class="fas fa-plus"></i> &nbsp; Save</a>
                @*</form>*@
            </div>
        </div>
    </div>
    <div class="col-8">
        <table class="table table-hover table-bordered table-sm text-center" style="background-color:lightskyblue" width="100%">
            <thead class="table table-primary">
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Category</th>
                    <th>Created By</th>
                    <th>Updated By</th>
                    <th>Date Created</th>
                    <th>Date Updated</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Lead lead in Leads)
                {
                    <tr>
                        <td>@lead.Id</td>
                        <td>@lead.FirstName</td>
                        <td>@lead.LastName</td>
                        <td>@lead.Email</td>
                        <td>@lead.Phone</td>
                        <td>@lead.Category.Name</td>
                        <td>@lead.CreatedByUserId</td>
                        <td>@lead.UpdatedByUserId</td>
                        <td>@lead.DateCreated</td>
                        <td>@lead.DateUpdated</td>
                        <td>
                            <a class="btn btn-dark text-white btn-sm" @onclick="@(m=>PreloadInputFields(@lead))"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-danger text-white btn-sm" @onclick="@(m=>Remove(@lead.Id))"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {

    [Inject]
    protected AuthenticationStateProvider authenticationStateProvider { get; set; }
    Lead lead = new Lead();
    List<Lead> Leads = new List<Lead>();
    IEnumerable<Category> Categories { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        LoadLeads();
        var authenticationStateProviderAsync = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authenticationStateProviderAsync.User.Claims;
        lead = new Lead()
        {
            CreatedByUserId = user.FirstOrDefault().Value,
            UpdatedByUserId = user.FirstOrDefault().Value,
            DateCreated = DateTime.Now,
            DateUpdated = DateTime.Now
        };
        Categories = Service.RenderCategoriesList();
    }

    private void LoadLeads()
    {
        Leads = new List<Lead>();
        Leads = iLead.ToListLeads();
    }

    private void Remove(int Id)
    {
        string delete = iLead.Delete(Id);
    }

    public async Task Save()
    {
        if (lead.Id == 0)
        {
            lead = iLead.Add(lead);
        }
        else
        {
            lead = await iLead.Update(lead, authenticationStateProvider);
        }

        lead = new Lead();
        LoadLeads();

    }

    private void PreloadInputFields(Lead leadDM)
    {
        lead = leadDM;
    }

}

